.header{
    display: flex;
    align-items: center;
    background-color: #7A5CFA;
    color: #FEFEFE;
    margin: 0;
    height: 120px;
    
}

.header .logo-a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 81px;
}

.nav-group {
    margin: auto;
    text-align: center;
    float: none;
    width:auto;
  }
.nav-group>span:first-child {
    float: left;
}
.nav-group:nth-child(3) {
    float: right;
}