<mat-toolbar class="header">
    <span>
        <a class="logo-a">
            <img class= "logo" src="assets/img/logoInit.png" alt="logo">
        </a>
    </span>
    <div class="nav-group">
        <span class="home-group">
            <a>
                <i class="material-icons">home</i>
                Início
            </a>
        </span>
        <span class="board-group">
            <a>
                <i class="material-icons">ads_click</i>
                Quadro de Tarefas
            </a>
        </span>
        <span>
            <a>
                <i class="material-icons">person</i>
                Pagina de Usuário
            </a>
        </span>
    </div>
  </mat-toolbar>
