<form action="" [formGroup]="this.formCard" class="form" id="cardForm">
  <legend>{{ formTitle }}</legend>
  <div class="form-group">
    <label for="form-group-input" class="form-group-label">Nome *</label>
    <input
      type="text"
      id="form-group-input"
      class="form-group-input"
      placeholder="Minha tarefa"
      formControlName="card_title"
    />
  </div>
  <div class="form-group">
    <label for="form-group-input" class="form-group-label">Descrição *</label>
    <textarea
      name="card-description"
      id="form-group-textarea"
      class="form-group-input"
      form="cardForm"
      placeholder="Descrição da minha tarefa"
      formControlName="card_description"
    ></textarea>
  </div>
  <div class="form-group-flex">
    <div class="form-group">
      <label for="form-group-input" class="form-group-label">Categoria</label>
      <select
        name=""
        id=""
        class="form-group-input"
        formControlName="card_group"
      >
        <option [value]="group" *ngFor="let group of groups">
          {{ group }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="form-group-input" class="form-group-label">Status *</label>
      <select
        name=""
        id=""
        class="form-group-input"
        formControlName="card_status"
      >
        <option value="To Do">To Do</option>
        <option value="Doing">Doing</option>
        <option value="Done">Done</option>
      </select>
    </div>
  </div>
  <button
    class="form-button"
    (click)="onSubmit()"
    [disabled]="!this.formCard.valid"
  >
    {{ buttonTitle }}
  </button>
</form>
