<div class="filter">
  <div class="filter-new">
    <input type="checkbox" class="filter-new-input" />
    <button class="filter-new-button">+ Criar</button>
  </div>
  <div class="filter-all">
    <input type="checkbox" class="filter-all-checkbox" />
    <input type="checkbox" class="filter-all-checkbox" />
    <input type="checkbox" class="filter-all-checkbox" />
  </div>
  <div class="filter-groups">
    <app-accordion [accordionTitle]="'Trabalho'">
      <input type="checkbox" class="filter-groups-checkbox" />
      <input type="checkbox" class="filter-groups-checkbox" />
      <input type="checkbox" class="filter-groups-checkbox" />
    </app-accordion>
    <app-accordion [accordionTitle]="'Faculdade'">
      <input type="checkbox" class="filter-groups-checkbox" />
      <input type="checkbox" class="filter-groups-checkbox" />
      <input type="checkbox" class="filter-groups-checkbox" />
    </app-accordion>
    <app-accordion [accordionTitle]="'Saúde'">
      <input type="checkbox" class="filter-groups-checkbox" />
      <input type="checkbox" class="filter-groups-checkbox" />
      <input type="checkbox" class="filter-groups-checkbox" />
    </app-accordion>
  </div>
</div>
