<div class="filter">
  <div class="filter-new">
    <input
      type="text"
      class="filter-new-input"
      placeholder="Nova categoria"
      [(ngModel)]="group"
    />
    <button
      class="filter-new-button"
      (click)="newGroup()"
      [disabled]="!this.innerValue"
    >
      + Criar
    </button>
  </div>
  <div class="filter-all">
    <div class="filter-all-group" *ngFor="let status of statuses; index as i">
      <input
        type="checkbox"
        class="filter-checkbox"
        [id]="'filter-all-input_' + i"
        (change)="valueChanges($event)"
        [value]="status"
      />
      <label [for]="'filter-all-input_' + i" class="filter-label">{{
        status
      }}</label>
    </div>
  </div>
  <div class="filter-groups">
    <div class="filter-groups-group" *ngFor="let group of groups; index as i">
      <input
        type="checkbox"
        class="filter-checkbox"
        [id]="'filter-group-input_' + i"
        (change)="valueChanges($event)"
        [value]="group"
      />
      <label [for]="'filter-group-input_' + i" class="filter-label">{{
        group
      }}</label>
    </div>
  </div>
</div>
