@import "src/styles";

.organa {
  display: flex;
  gap: 16px;
  height: 100vh;
}

.filters {
  background: #f6f8f9;
  padding: 8px;
  @media (max-width: 1045px) {
    display: none;
  }
}

.dashboard {
  margin-top: 32px;
  padding-right: 16px;
  width: 100%;
  &-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 10px 0;
  }

  &-upper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    gap: 8px;
    @media (max-width: 665px) {
      flex-direction: column;
    }
  }
  &-search {
    position: relative;
    &-icon {
      position: absolute;
      top: 2px;
      transform: translate(-50%, 50%);
      left: 16px;
    }
    &-input {
      box-sizing: border-box;
      width: 302px;
      min-height: 38px;
      border: 1px solid #dde2e4;
      border-radius: 4px;
      padding: 2px 32px;

      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #9aa6ac;

      @media (max-width: 665px) {
        width: 100%;
      }
    }
  }
  &-new_card {
    width: 158px;

    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #eeeeee;

    border: none;
    background-color: #4094f7;
    border-radius: 4px;
    cursor: pointer;

    min-height: 38px;

    @media (max-width: 665px) {
      width: 100%;
    }
  }

  &-cards {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    padding: 16px;
  }

  &-container {
    border-radius: 6px 6px 0px 0px;
    background: #f6f8f9;
    display: block;
    height: max-content;
  }

  @media (max-width: 1045px) {
    padding: 16px;
  }
}

.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 522px;
  &-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #252c32;
    margin: 0 0 24px 0;
  }

  &-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #252c32;
    margin: 0 0 16px 0;
    text-align: center;
  }

  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    &-confirm {
      @include button(#4094f7, #eeeeee);
    }

    &-cancel {
      @include button(#ffffff, #4094f7);
      border: 1px solid #4094f7;
    }
  }
}
